{% extends "vacationeer/base.html" %}
{% load tethys_gizmos %}
{% block app_content %}
<html>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
 <style>
  body,h1 {
  font-family: "Raleway", sans-serif
  color: #00008B;
  }
  body, html {
    height: 100%;
    text-align: center;
    background-color: #FFFAF0;
    background-image: url(bridge.jfif) center fixed;
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
</style>
    <style>
      #mapid { height: 75%;
      width: 80%;
      padding: 5px;
      position: absolute;}
    </style>
<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin="">
</script>


    <body>
      <h2>My Recommendations</h2>
      <div id='mapid'></div>

    </body>



    <script>
        var map = L.map('mapid').setView([9.933149, -84.079149], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        let Waterbodies = L.tileLayer.wms('https://geoserver.hydroshare.org/geoserver/HS-368ad337700c455a975ae8d91e6caada?', {
            layers: 'Waterbodies',
            format: 'image/png',
        }).addTo(map)

        var markerpaz = L.marker([10.206601, -84.164138]).addTo(map);
          markerpaz.bindPopup("<b>La Paz Waterfalls</b><br>Sightseeing").openPopup();
        var markernos = L.marker([9.978041, -85.648726]).addTo(map);
          markernos.bindPopup("<b>Nosara</b><br>Relax and Adventure").openPopup();
        var markerfort = L.marker([10.471862, -84.643554]).addTo(map);
            markerfort.bindPopup("<b>La Fortuna</b><br>Sighteeing and Adventure").openPopup();
        var circle = L.circle([8.395965, -83.135773], {
            color: '#002597',
            fillColor: '#002597',
            fillOpacity: 0.5,
            radius: 500
        }).addTo(mymap);
            circle.bindPopup("<b>Pavones</b><br>Best Surfing");

    </script>

</html>
{% endblock %}
